*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.8;
  font-family: Roboto, 'Segoe UI', -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  user-select: none;
}

h1, h2, h3 {
  font-weight: bold;
  color: var(--color-heading);
}

.caption {
  font-size: 0.9rem;
  color: var(--color-text-light);
}

@media (min-width: 1200px) {
  body {
    line-height: 1.6;
  }
}
